.adminorders_container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr;
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../../../cloudinary/bg2.jpg");
}

.adminorders_search {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;

  align-items: center;
  justify-items: center;
  margin-top: 20px;
  margin-left: 30px;
  /* border: 3px solid red; */
}

.item_usercontainer2 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.4fr 0.3fr 0.4fr 0.4fr;
  min-height: 150px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  width: 100%;
  grid-column: 2/5;
}

.adminorders_itemscontainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

.table {
  grid-column: 1/2;
}

.adminorders_inputs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  height: 87%;
  overflow: scroll;
  /* border: 2px solid white; */
}

.direction {
}
