/* --------Flexbox----------- */
.navbar_container {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  height: 130px;
  /* border: 2px solid red; */
}
.navbar_innerContainer_logo {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  /* border: 2px solid orange; */
}

.navbar_innerContainer_title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid purple; */
  width: 100%;
}

.navbar_innerContainer_searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid yellow; */
  width: 70%;
}

.navbar_innerContainer_home {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid brown; */
  width: 10%;
}

.navbar_innerContainer_buttons {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
}

.navbar_innerContainer_buttons .login {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  /* border: 1px solid red; */
}

.inner {
  padding: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid orange; */
  width: 100%;
  height: 100%;
}

/* -------------------- */
.navbar_title {
  font-size: 7vh;
}

.menuIcon {
  color: black;
  margin: auto 16px;
  cursor: pointer;
  padding: 0px;
  font-size: 1.8em;
}

.itemCount {
  position: absolute;
  top: -18px;
  right: 10px;
  font-size: 16px;
  color: black;
}

.cartIcon {
  margin: 0;
  padding: 0;
  position: relative;
}

.userActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
