.inputs_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
  /* border: 2px solid red; */
}

.select_styles {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 15%;
  padding: 8px;
  transition: all 0.2s linear 0s;
}

.select_styles:focus {
}

.filter_flexColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid red; */
}
